@charset "utf-8";
#swimbi{
	padding: 20px 0px 0 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 0px;
}
#swimbi a:not([href]){
	cursor: default;
}
#swimbi a.B{
	font-weight: bold !important;
}
#swimbi a.I{
	font-style: italic !important;
}
#swimbi a.U{
	text-decoration: underline !important;
}
#swimbi>ul{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAAMklEQVQIW73EyQ2AABADMU3/De8d+EU0gB9GL/7t7oTbXeFmRrjuFq6qhMtM4SJCfHsAuf2yaYzPQLYAAAAASUVORK5CYII=');
	padding: 0 1px 0 1px !important;
	border-radius: 4px;
	box-shadow: 0px 1px 13px  0px rgba(255,255,255,.55);
	width: auto;
	list-style: none;
	position: relative;
	white-space: nowrap;
	display: inline-table;
	font-size: 0px;
}
#swimbi ul, #swimbi li, #swimbi a{
	font-family: Verdana, Geneva, sans-serif !important;
	margin: 0;
	padding: 0;
}
#swimbi>ul>li{
	display: inline-block;

	vertical-align: top;
	font-size: 14px;
	position: relative;
}
#swimbi ul li:hover>ul,#swimbi .hvr>ul{
	display: block !important;
}
#swimbi>ul>li:hover>a,#swimbi .hvr>a{
	color: #40d0dd !important;
	border-radius: 0px;
	z-index: 9;
	text-shadow: 0px 0px 0px rgba(69,69,69,1) !important;
}
#swimbi ul li:hover > a:only-child{ box-shadow:none;}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0px 18px;
	line-height: 45px;
	height: 45px;
	color: #0192b7;
	margin-right: -1px;	text-shadow: 0px 1px 0px rgba(255,255,255,.56);
}
#swimbi ul ul{
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	display: none;
	background: #ffffff;
	border-radius: 0px;
	width: auto;
	list-style: none;
	min-width: 60px;
	padding: 0px 0px 0px 0px;
	position: absolute;
	z-index: 7;
	margin-top: 0;
	box-shadow: 0px 0px 10px  0px rgba(255,255,255,.52);
	top: 45px;
}
#swimbi ul ul.columns{
	font-size: 0px;
}

#swimbi ul ul li.column{
	display: inline-block;
	width: auto;
	vertical-align: top;
}

#swimbi ul ul li.column>ul{
	position: relative;
	display: block;
	box-shadow: none;
	background: none;
	left:0;
	padding: 0;
}

#swimbi ul ul li.column>ul:hover{
	z-index: 9;
}

#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
}
#swimbi ul ul li a{
	padding-left: 15px;
	padding-right: 33px;
	line-height: 25px;
	height: 25px;
	color: #0192b7 !important;
}
#swimbi ul ul li>a:after{
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	width: 0;
	height: 0;
	margin: -4px 5px;
	border-left: 5px #0192b7 solid;
	border-top: 4px dashed transparent;
	border-bottom: 4px dashed transparent;
	border-right: none;
	display: inline-block;
	overflow:hidden;
}
#swimbi ul ul>li>a:only-child{
	padding-right: 15px;
}
#swimbi ul ul>li>a[data-icon], #swimbi ul.mixicon>li>a{
	padding-right: 55px;
}
#swimbi ul ul>li>a[data-icon]:only-child, #swimbi ul.mixicon>li>a:only-child, #swimbi ul li.column>ul.mixicon>li>a:only-child{
	padding-right: 37px;
}
#swimbi ul li.column>ul>li>a:before, #swimbi ul ul>li>a:only-child:before{
	padding-right: 0px;
}
#swimbi ul li.column>ul>li>a[data-icon]:before, #swimbi ul li.column>ul.mixicon>li>a:before{
	padding-right: 8px;
}
#swimbi ul li.column>ul>li>a[data-icon], #swimbi ul li.column>ul.mixicon>li>a{
	padding-right: 33px;
}
#swimbi ul li.column>ul>li>a[data-icon]:only-child{
	padding-right: 15px;
}
#swimbi ul ul li>a:only-child:after{
	display: none;
}
#swimbi ul ul li:hover>a{
	border-radius: 0px;
	color: #40d0dd !important;
	box-shadow: none;
}
#swimbi ul ul li:hover>a:after{
	border-left: 5px #40d0dd solid;
}
#swimbi ul ul li a:hover{
	border-radius: 0px;
	background: #ffffff;
}
#swimbi ul ul li a:hover:after{
	border-left: 5px #40d0dd solid;
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 7;
	left: 100%;
	top: 0;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
@font-face{
font-family:'ifont';
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

#swimbi ul>li>a:before, #swimbi>ul>li>a:after{
	color: #0192b7;
	font-family: ifont;
	pointer-events: none;
	line-height: 45px;
	font-size: 15px;
	padding: 0 14px 0 0;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	content: attr(data-icn);
	visibility: hidden;
}

#swimbi>ul>li>a:after{
	visibility: visible;
	position: absolute;
	z-index: 6;
	top:0;
	left: 18px;
	padding: 0;
	text-shadow: -1px -1px 0 rgba(255,255,255,.56);
	transition: all .12s ease-out;
	-webkit-transition: all .12s ease-out;
}

#swimbi>ul>li>a:before, #swimbi>ul>li>a:after{
	width: 15px;
}

#swimbi>ul>li>a[data-icon]:before{
	height: 15px;
}

#swimbi>ul>li>a.empty:before, #swimbi>ul>li>a.empty:after{
	padding: 0;
}

#swimbi>ul>li:hover>a:after, #swimbi>ul>li.hvr>a:after{
	color: #40d0dd;
	font-size: 20px;
	left: 15.5px;
	text-shadow: -1px -1px 0 rgba(69,69,69,.56);
}

@media (max-width: 768px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		height: 45px;
		padding: 0 !important;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		width: auto !important;
		margin: 0 1px 0 1px;
	}

	#swimbi>ul>li>a{
		display:none;
	}

	#swimbi>ul:hover>li>a,#swimbi .hvr>li>a{
		display:block !important;
	}

	#swimbi>ul>li:hover,#swimbi .hvr{
		z-index: 9 !important;
	}

	#swimbi>ul:after {
		line-height: 43px;
		content: 'Menu';
		font-family: Verdana, Geneva, sans-serif !important;
		font-size: 14px;
		color: #0192b7;
		float:right;
		padding-right: 15px;
	}

	#swimbi>ul:hover:after, #swimbi>ul.hvr:after {
		display: none;
	}

	#swimbi>ul:before {
		float: right;
		line-height: 45px;
		content: '';
		margin: 17px 22px 16.75px 0;
		width: 15px;
		height:2.25px;
		border-top: 6.75px double #0192b7;
		border-bottom: 2.25px solid #0192b7;
	}

	#swimbi>ul:hover:before, #swimbi>ul.hvr:before {
		opacity: 0;
	}

	#swimbi ul ul ul{
		margin-top: 25px;
	}

	#swimbi ul ul {
		left: 25px !important;
	}

	#swimbi ul ul li.column{
		display: block;
	}

	#swimbi ul ul li.column>ul{
		left: 0 !important;
		margin-top: 0;
	}

}
